<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRM"
        tools:targetApi="31">
        <activity
            android:name=".activities.BusinessCard.BusinessCardActivity"
            android:exported="false"
            android:label="@string/title_activity_business_card"
            android:theme="@style/Theme.CRM" />
        <activity
            android:name=".activities.BusinessCard.BusinessCard"
            android:exported="false" />

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.Authentication.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Authentication.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Leads.LeadActivity"
            android:exported="false"
            android:parentActivityName=".activities.Main.MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Leads.LeadDetailActivity"
            android:exported="false"
            android:parentActivityName=".activities.Leads.LeadActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="mailto" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Leads.AddNewLeadActivity"
            android:exported="false"
            android:parentActivityName=".activities.Leads.AddNewLeadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Settings.SettingActivity"
            android:exported="false"
            android:parentActivityName=".activities.Main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Sales.SaleActivity"
            android:exported="false"
            android:parentActivityName=".activities.Main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Maps.MapsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Calendar.WeekViewActivity"
            android:exported="false"
            android:parentActivityName=".activities.Main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Calendar.EventEditActivity"
            android:exported="false"
            android:parentActivityName=".activities.Calendar.WeekViewActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Settings.Information"
            android:exported="false"
            android:parentActivityName=".activities.Settings.SettingActivity" />
        <activity
            android:name=".activities.Authentication.ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".activities.Settings.Information" />
    </application>

</manifest>